Repository dwp/commitlint-config-base: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, security:outdated

.lintstagedrc:

{
    "*.js": "eslint",
    "package.json": "security:outdated"
}

feat(renovate): add renovate config
  renovate.json
Due: none

refactor: migrate to docker build and upgrade dependencies
  .eslintrc.js
  .gitlab-ci.yml
  .lintstagedrc
  .nvmrc
  package-lock.json
  package.json
  src/index.js
  tests/helpers/jasmine-spec-reporter.js
  tests/unit/index.spec.js
Due: eslint, security:outdated

refactor(node): pin node.js
  .gitlab-ci.yml
Due: none

chore(snyk): update dependency snyk to v1.170.0
  package-lock.json
  package.json
Due: security:outdated

chore(node): update node:alpine docker digest to 67ca3b1
  .gitlab-ci.yml
Due: none

chore(@commitlint/cli): update dependency @commitlint/cli to v8
  package-lock.json
  package.json
Due: security:outdated

chore(snyk): update dependency snyk to v1.171.0
  package-lock.json
  package.json
Due: security:outdated

refactor(header): change max-length to a warning
  src/index.js
  tests/unit/index.spec.js
Due: eslint

chore(snyk): update dependency snyk to v1.171.1
  package-lock.json
  package.json
Due: security:outdated

chore(node): update node:alpine docker digest to 25d56cf
  .gitlab-ci.yml
Due: none

chore(husky): update dependency husky to v2.4.0
  package-lock.json
  package.json
Due: security:outdated

chore(lint-staged): update dependency lint-staged to v8.2.0
  package-lock.json
  package.json
Due: security:outdated

chore(snyk): update dependency snyk to v1.175.1
  package-lock.json
  package.json
Due: security:outdated

chore(husky): update dependency husky to v2.4.1
  package-lock.json
  package.json
Due: security:outdated

chore(snyk): update dependency snyk to v1.177.1
  package-lock.json
  package.json
Due: security:outdated

chore(lint-staged): update dependency lint-staged to v8.2.1
  package-lock.json
  package.json
Due: security:outdated

chore(snyk): update dependency snyk to v1.179.0
  package-lock.json
  package.json
Due: security:outdated

feat: change header max length rule to a warning
  CHANGELOG.md
  package.json
  src/index.js
  tests/unit/index.spec.js
Due: eslint, security:outdated

docs: update changelog
  CHANGELOG.md
Due: none

chore(node): update node:alpine docker digest to 3db913c
  .gitlab-ci.yml
Due: none

chore(snyk): update dependency snyk to v1.179.1
  package-lock.json
  package.json
Due: security:outdated

chore(snyk): update dependency snyk to v1.180.0
  package-lock.json
  package.json
Due: security:outdated

chore(snyk): update dependency snyk to v1.180.1
  package-lock.json
  package.json
Due: security:outdated

chore(eslint): update dependency eslint to v6
  package-lock.json
  package.json
Due: security:outdated

chore(snyk): update dependency snyk to v1.180.2
  package-lock.json
  package.json
Due: security:outdated
